/* Buttons */
button {
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: 1rem;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition-default);
}

button:hover {
  background-color: var(--color-secondary);
}

/* Forms */
input, textarea, select {
  padding: var(--spacing-sm);
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  width: 100%;
  margin-bottom: var(--spacing-md);
}

/* Main Menu */
.main-menu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu ul li {
  margin-right: var(--spacing-md);
  text-transform: lowercase;
}

/* Header */
.site-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.header-desc {
  font-weight: 400;
  margin-top: 0.4rem;
}

/* Menu Items */
.menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -1.5rem;
  gap: 2rem;
}

/* Black Divider */
.black-divider {
  border: none;
  width: 90%;
  margin-inline: auto;
  margin-bottom: var(--spacing-lg);
  height: 1px;
  background-color: black;
}