@media (max-width: 768px) {
  .header-logo {

    gap: 0px;
  }

  #hamburger {
    width: 68px;
    height: 68px;
  }

  .footer-svg-top {
    top: -23px;
  }

  /* .service-container {
    width: 270px;
  } */

  .card {
    gap: 8rem;
    padding-inline: 10px;

  }

  .card p {
    font-size: var(--size-xs);
  }

  .service-section {
    margin-top: var(--spacing-xl);
  }

  section {
    margin-bottom: var(--spacing-lg);

    margin-inline: 1rem;
  }


  header {
    height: 4rem;
  }

  .header-desc {
    font-size: 10px;
  }

  #hero-text span {
    font-size: var(--size-xl);

  }

  #hero-text {
    line-height: 40%;
  }

  .site-header {
    width: auto !important;
    flex-direction: column;
  }

  .footer-logo a h1 {
    font-size: 30px;
    letter-spacing: -7px;
  }

}