@import 'variables.css';
@import 'base.css';
@import 'typography.css';
@import 'layout.css';
@import 'components.css';
@import 'media.css';









.slick-slide {
  margin-right: 24px;
  /* Adjust gap between slides */
  flex: 1 0 calc(25% - 20px);
  /* Ensure 4 slides fit in the viewport */
  max-width: calc(25% - 20px);
  /* Match flex width for proper spacing */
  box-sizing: border-box;
}

/* 
.slick-slide :hover {
  cursor: grab;
} */

.slick-track {
  display: flex !important;
}


.read-more {
  background-color: transparent;
  padding: 0;
  color: #9FB99F;
  text-transform: uppercase;
  cursor: pointer;

}

.read-more :hover {
  background-color: transparent;


}